@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Web.Pages.Account.ForgotPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@{
    Layout = ThemeManager.CurrentTheme.GetEmptyLayout();
}
@section styles {
}
<div class="auth-wrapper aut-bg-img-side cotainer-fiuid align-items-stretch">
    <div class="row align-items-center w-100 align-items-stretch bg-white">
        <div class="d-none d-lg-flex col-lg-8 aut-bg-img align-items-end d-flex justify-content-center">
            <div class="col-md-8">
                <h1 class="text-white mb-3">@L["ForgotPassword"]</h1>
                <p class="text-white mb-5">CRM PRO system forgot password page. Use this page to reset your password.</p>
            </div>
        </div>
        <div class="col-lg-4 h-100 align-items-center d-flex justify-content-center">
            <div class=" auth-content text-left">
               @* <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>*@
                <h3 class="mb-4">@L["ForgotPassword"]</h3>
                <p>@L["SendPasswordResetLink_Information"]</p>
                <form method="post" class="mt-4">
                    <div class="form-group mb-3">
                        <label class="form-label text-dark f-w-600">Email</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group mb-3">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-4 shadow-2">@L["Submit"]</button>
                </form>
                <p class="mb-0 text-muted">Don’t have an account? <a class="text-primary" href="@Url.Page("./Register", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})">@L["Register"]</a></p>
                <a class="text-primary" asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string> {{"returnUrl", Model.ReturnUrl}, {"returnUrlHash", Model.ReturnUrlHash}})">
                    <i class="fa fa-long-arrow-left text-primary"></i> @L["Login"]
                </a>
            </div>
        </div>
    </div>
</div>
