@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.CustomerCreditNote.CreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    Layout = null;
}
<form id="form" asp-page="/CustomerCreditNote/Create">
    <abp-modal>
        <abp-modal-header title="@l["New"].Value @l["Menu:FinanceTransactionCustomerCreditNote"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-container>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="CustomerCreditNote.Number"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="CustomerCreditNote.Description"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="CustomerCreditNote.PaymentNote"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="CustomerCreditNote.CreditNoteDate"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-select asp-for="CustomerCreditNote.CustomerInvoiceId"></abp-select>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-select asp-for="CustomerCreditNote.CustomerId"></abp-select>
                    </abp-column>
                </abp-row>
            </abp-container>
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn-secondary btn" data-dismiss="modal" type="button">@l["Button:Cancel"]</button>
            <button class="btn-primary btn" data-busy-text="Saving..." type="submit"><i class="fa-check fa"></i> <span>@l["Button:Save"]</span></button>
            <button class="btn-primary btn" data-busy-text="Saving..." type="button" id="btn-create-go-to-detail"><i class="fa-check fa"></i> <span>@l["Button:SaveGoDetail"]</span></button>
        </abp-modal-footer>
    </abp-modal>
</form>