@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.SalesQuotation.UpdateModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    Layout = null;
}
<form id="form" asp-page="/SalesQuotation/Update">
    <abp-modal>
        <abp-modal-header title="@l["Update"].Value @l["Menu:CustomerManagementTransactionSalesQuotation"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-container>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="SalesQuotation.Id"></abp-input>
                        <abp-input asp-for="SalesQuotation.Pipeline"></abp-input>
                        <abp-input asp-for="SalesQuotation.Number"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="SalesQuotation.Description"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="SalesQuotation.QuotationDate"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-input asp-for="SalesQuotation.QuotationValidUntilDate"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-select asp-for="SalesQuotation.CustomerId"></abp-select>
                    </abp-column>
                    <abp-column>
                        <abp-select asp-for="SalesQuotation.SalesExecutiveId"></abp-select>
                    </abp-column>
                </abp-row>
            </abp-container>
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn-secondary btn" data-dismiss="modal" type="button">@l["Button:Cancel"]</button>
            <button class="btn-primary btn" data-busy-text="Saving..." type="submit"><i class="fa-check fa"></i> <span>@l["Button:Save"]</span></button>
            <button class="btn-primary btn" data-busy-text="Saving..." type="button" id="btn-update-go-to-detail"><i class="fa-check fa"></i> <span>@l["Button:SaveGoDetail"]</span></button>
        </abp-modal-footer>
    </abp-modal>
</form>