@page
@model Indo.Web.Pages.Project.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Menu:Projects"];
}
@section scripts{
    <abp-script src="/Pages/Project/Index.js" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

}
@section styles{
    <abp-style src="/assets/plugins/custom/datatables/datatables.bundle.css" />
    <abp-style src="/assets/plugins/global/plugins.bundle.css" />
    <abp-style src="/assets/css/style.bundle.css" />
    <abp-style src="/Pages/Project/Index.css" />
}
    <div class="d-flex flex-column flex-lg-row">
        <!--begin::Content-->
        <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" id="myInput" placeholder="Search">
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end has filter" data-kt-customer-table-toolbar="base">
                            <!--begin::Filter-->
                            <button type="button" class="filter_btn btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                                <span class="svg-icon svg-icon-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->Filter
                            </button>
                            <!--begin::Menu 1-->
                            <div class="px-7 py-5 filter-box cus-shadow box-hide">
                                <div class="text-right">
                                    <button type="button" class="filter_close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <!--begin::Input Box 1-->
                                <div class="mb-3 input-box mt-2">
                                    <input type="text" class="form-control name" id="nameFilter" placeholder="Project Name">
                                </div>
                                <!--end::Input Box 1-->
                                <div class="mb-3 input-box">
                                    <select id="ddlClient" value="@Model.Clients" placeholder="Client" class="form-control name">
                                        <option value="null">-Select Client-</option>
                                        @{
                                        foreach (var item in Model.Clients)
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <!--begin::Input Box 2-->
                            <div class="mb-3 input-box">
                                <input type="date" class="form-control startdate" id="startdateFilter" placeholder="Start Date Filter">
                            </div>
                            <!--end::Input Box 2-->
                            <!--begin::Input Box 3-->
                            <div class="mb-3 input-box">
                                <input type="date" class="form-control enddate" id="enddateFilter" placeholder="End Date Filter">
                            </div>
                          
                            <div class="mb-3 input-box">
                                <select id="ddlTechnology" value="@Model.Technologys" class="form-control name">
                                    <option value="null">-Select Technology-</option>
                                    @{
                                        foreach (var item in Model.Technologys)
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                             <div class="mb-3 input-box text-right">
                                <button type="button" id="btnClear"  class="btn btn-primary btn-sm">
                                    Clear
                                </button>
                            </div>
                        </div>
                        <!--end::Content-->
                        <!--end::Filter-->
                        <!--begin::Add customer-->

                        <a href="/Project/Add" class="btn btn-primary">Add Project</a>

                        <!--end::Add customer-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Group actions-->
                    <div class="d-flex justify-content-end align-items-center d-none" data-kt-customer-table-toolbar="selected">
                        <div class="fw-bolder me-5">
                            <span class="me-2" data-kt-customer-table-select="selected_count"></span>Selected
                        </div>
                        <button type="button" class="btn btn-danger" data-kt-customer-table-select="delete_selected">
                            Delete
                            Selected
                        </button>
                    </div>
                    <!--end::Group actions-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Table-->
                <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive">

                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer project-table" id="kt_customers_table">
                            <!--begin::Table head-->
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">

                                    <th data-sort="Name" class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Client: activate to sort column ascending" style="width: 125px;">
                                        @l["Project"]

                                    </th>
                                    <th data-sort="ClientName" class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 125px;">
                                        @l["Client"]

                                    </th>
                                    <th class="min-w-125px sorting_disabled" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Jump to: activate to sort column ascending" style="width: 125px;">
                                        @l["Technology"]

                                    </th>
                                    <th data-sort="sStartDate" class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Group: activate to sort column ascending" style="width: 125px;">
                                        @l["StartDate"]

                                    </th>
                                    <th data-sort="sEndDate" class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="Created: activate to sort column ascending" style="width: 125px;">
                                        @l["EndDate"]

                                    </th>

                                    <th class="min-w-70px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 79.625px;">Actions</th>
                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->


                            <tbody class="fw-bold text-gray-600" id="myTable">
                            </tbody>
                            <!--end::Table body-->

                        </table>


                         <div class="row" id="divPaggination">
                            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                                <div class="dataTables_length" id="kt_customers_table_length">
                                    <label>
                                        <select name="kt_customers_table_length" aria-controls="kt_customers_table" class="form-select form-select-sm form-select-solid" id="itemsPerPage">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                <div class="dataTables_paginate paging_simple_numbers" id="kt_customers_table_paginate">
                                    <ul class="pagination justify-content-center">
                                        <li class="paginate_button page-item active"><a class="page-link" id="previousPage" href="#"><i class="bi bi-chevron-left"></i></a></li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-center">
                                                        <ul class="pagination my-0" id="pagination"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="paginate_button page-item active"></li>
                                        <li class="paginate_button page-item active"><a class="page-link" id="nextPage" href="#"><i class="bi bi-chevron-right"></i></a></li>

                                    </ul>
                                    <div id="currentPage"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
        </div>
        <!--end::Content-->
    </div>
</div>


