@page "{id:Guid}"
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@model Indo.Web.Pages.StockAdjustment.DetailModel
@{
    ViewBag.Title = $"{l["Menu:InventoryTransactionAdjustment"].Value} {Model.StockAdjustment.Number}";
}
@section scripts
{
    <abp-script src="/Pages/StockAdjustment/Detail.js" />
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@Model.StockAdjustment.Number</abp-card-title>
                <input type="hidden" id="hfStockAdjustmentId" asp-for="StockAdjustment.Id" />
                <input type="hidden" id="hfStockAdjustmentNumber" asp-for="StockAdjustment.Number" />
            </abp-column>
            <abp-column size-md="_6" class="text-right">
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div class="card-block">
            <div class="row invoive-info">
                <div class="col-md-4 col-sm-6">
                    <h6>Adjustment Information :</h6>
                    <table class="table table-responsive invoice-table invoice-order table-borderless">
                        <tbody>
                            <tr>
                                <th>Warehouse :</th>
                                <td>@Model.StockAdjustment.WarehouseName</td>
                            </tr>
                            <tr>
                                <th>Adjustment Type :</th>
                                <td>@Model.StockAdjustment.AdjustmentType</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h6>Transaction Information :</h6>
                    <table class="table table-responsive invoice-table invoice-order table-borderless">
                        <tbody>
                            <tr>
                                <th>Date :</th>
                                <td>@Model.StockAdjustment.AdjustmentDate.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <th>Status :</th>
                                <td>
                                    <span class="label label-warning">@Model.StockAdjustment.Status</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h6 class="m-b-20">Adjustment Number <span>#@Model.StockAdjustment.Number</span></h6>
                    <div id="qrcode"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @if (Model.StockAdjustment.Status != Indo.StockAdjustments.StockAdjustmentStatus.Draft)
                    {
                        <i>* Un-editable, only Draft document is editable.</i>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-left">
                <a type="button" href='~/StockAdjustment' class="btn btn-secondary">@l["Menu:InventoryTransactionAdjustment"]</a>
            </div>
            <div class="col-sm-6 text-right">
                <abp-button id="NewStockAdjustmentDetailButton"
                            text="@l["New"].Value"
                            icon="plus"
                            button-type="Primary"
                            disabled="@(Model.StockAdjustment.Status != Indo.StockAdjustments.StockAdjustmentStatus.Draft)" />
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-sm-12">
                <abp-table striped-rows="true" id="StockAdjustmentDetailsTable"></abp-table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="/StockAdjustment/PrintDetail/@Model.StockAdjustment.Id" rel="noopener" target="_blank" class="btn btn-secondary"><i class="fas fa-print"></i> Print @l["Menu:InventoryTransactionAdjustment"]</a>
            </div>
        </div>
    </abp-card-body>
</abp-card>