@page "{id:Guid}"
@model Indo.Web.Pages.ServiceQuotation.DetailModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = $"{l["Menu:CustomerManagementTransactionServiceQuotation"].Value} {Model.ServiceQuotation.Number}";
}
@section scripts
{
    <abp-script src="/Pages/ServiceQuotation/Detail.js" />
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@Model.ServiceQuotation.Number</abp-card-title>
                <input type="hidden" id="hfServiceQuotationId" asp-for="ServiceQuotation.Id" />
                <input type="hidden" id="hfServiceQuotationNumber" asp-for="ServiceQuotation.Number" />
            </abp-column>
            <abp-column size-md="_6" class="text-right">
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div class="card-block">
            <div class="row invoive-info">
                <div class="col-md-4 col-xs-12 invoice-client-info">
                    <h6>Client Information :</h6>
                    <h6 class="m-0">@Model.ServiceQuotation.CustomerName</h6>
                    <p class="m-0 m-t-10">@Model.Customer.Street, @Model.Customer.City, @Model.Customer.State. @Model.Customer.ZipCode</p>
                    <p class="m-0">@Model.Customer.Phone</p>
                    <p><a class="text-secondary" href="mailto:@Model.Customer.Email" target="_top">@Model.Customer.Email</a></p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h6>Quotation Information :</h6>
                    <table class="table table-responsive invoice-table invoice-order table-borderless">
                        <tbody>
                            <tr>
                                <th>Date :</th>
                                <td>@Model.ServiceQuotation.QuotationDate.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <th>Valid Until :</th>
                                <td>@Model.ServiceQuotation.QuotationValidUntilDate.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <th>Status :</th>
                                <td>
                                    <span class="label label-warning">@Model.ServiceQuotation.Status</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h6 class="m-b-20">Quotation Number <span>#@Model.ServiceQuotation.Number</span></h6>
                    <h6 class="text-uppercase text-primary">
                        Total Due :
                        <span>@Model.ServiceQuotation.CurrencyName <label id="lblTotalTop"></label></span>
                    </h6>
                    <div id="qrcode"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @if (Model.ServiceQuotation.Status != Indo.ServiceQuotations.ServiceQuotationStatus.Draft)
                    {
                        <i>* Un-editable, only Draft document is editable.</i>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-left">
                <a type="button" href='~/ServiceQuotation' class="btn btn-secondary">@l["Menu:CustomerManagementTransactionServiceQuotation"]</a>
            </div>
            <div class="col-sm-6 text-right">
                <abp-button id="NewServiceQuotationDetailButton"
                            text="@l["New"].Value"
                            icon="plus"
                            button-type="Primary"
                            disabled="@(Model.ServiceQuotation.Status != Indo.ServiceQuotations.ServiceQuotationStatus.Draft)" />
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-sm-12">
                <abp-table striped-rows="true" id="ServiceQuotationDetailsTable"></abp-table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-responsive invoice-table invoice-total">
                    <tbody>
                        <tr>
                            <th>SubTotal :</th>
                            <td>@Model.ServiceQuotation.CurrencyName <label id="lblSubTotalBottom"></label></td>
                        </tr>
                        <tr>
                            <th>Discount Amount :</th>
                            <td>@Model.ServiceQuotation.CurrencyName <label id="lblDiscAmtBottom"></label></td>
                        </tr>
                        <tr>
                            <th>Before Tax :</th>
                            <td>@Model.ServiceQuotation.CurrencyName <label id="lblBeforeTaxBottom"></label></td>
                        </tr>
                        <tr>
                            <th>Tax Amount :</th>
                            <td>@Model.ServiceQuotation.CurrencyName <label id="lblTaxAmountBottom"></label></td>
                        </tr>
                        <tr class="text-info">
                            <td>
                                <hr />
                                <h5 class="text-primary m-r-10">Total :</h5>
                            </td>
                            <td>
                                <hr />
                                <h5 class="text-primary">@Model.ServiceQuotation.CurrencyName <label id="lblTotalBottom"></label></h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="/ServiceQuotation/PrintDetail/@Model.ServiceQuotation.Id" rel="noopener" target="_blank" class="btn btn-secondary"><i class="fas fa-print"></i> Print @l["Menu:CustomerManagementTransactionServiceQuotation"]</a>
            </div>
        </div>
    </abp-card-body>
</abp-card>